@model List<Product> 
@{
    ViewData["Title"] = "لیست محصولات";
}
    <br />
<br />
<br />
<br />
<br />

       
<div class="table-responsive text-center mt-4">
   
    
        <table class="table table-bordered table-striped table-hover bg-warning">
            <thead class="table-warning bg-danger">
            <tr class="text-secondary">
                   
                    <td>نام</td>
                    <td>موجودی</td>
                    <td>قیمت</td>
                   
                    
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {

                    <tr>
                    
                    <td class="text-white" >@item.Name</td>
                    @if(item.Number > 5)
                    {
                        <td class="bg-info text-white">@item.Number</td>
                    }else{
                        <td class="bg-danger text-white">@item.Number</td>

                    }
                    
                    <td class="text-white">@item.Price</td>
                    
                   
                         
                     


                    </tr>

                }
            </tbody>
        </table>

    </div>
